body {
  background: var(--light);
  border: 12px solid white;
  box-sizing: border-box;
  position: relative;
}

.c-c-hero-ov-3 {
  pointer-events: none;
}
.c-hero-ov-3 {
  pointer-events: all;
}

.c-c-hello {
  min-height: calc(100vh - 24px);
  flex-direction: row;
  padding: 24px;
  display: none;
}
.c-c-hello.active {
  display: flex;
}

.c-hello {
  width: calc(100% / 3);
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (max-width: 890px) {
  body {
    min-height: 100vh;
  }
  .c-hello {
    width: 100%;
    max-width: 500px;
  }
  .c-c-hello {
    min-height: 0;
    flex-direction: column;
    padding: 24px;
    display: none;
  }
  .hello-footer-img {
    height: 32px;
    position: absolute;
    left: 28px;
    bottom: 24px;
  }
}
.c-middle {
  justify-content: center;
}
.c-middle p {
  color: var(--medium);
}

.c-hello h1 {
  font-size: 500%;
}
.c-hello h2 {
  font-size: 200%;
  max-width: 300px;
}
.c-hello h1, .c-hello h2 {
  color: var(--dark-blue)
}

.hello-footer-img {
  height: 32px;
  position: absolute;
  right: 28px;
  bottom: 24px;
}

.c-options {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.c-options .option {
  height: 100%;
  width: calc((100% / 4));
  background: white;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  cursor: pointer;
}
.c-options .option:hover {
  border: 1px solid var(--dark-blue);
}
.c-options .option.active {
  border: 1px solid var(--dark-blue);
  background: var(--dark);
}
.c-options .option:first-child {
  margin-right: 12px;
}
.c-options .option:last-child {
  margin-left: 12px;
}
.c-options .option:nth-child(2) {
  margin-right: 6px;
}
.c-options .option:nth-child(3) {
  margin-left: 6px;
}

@media screen and (max-width: 890px) {
  .c-options {
    flex-direction: column;
  }
  .c-options .option:first-child {
    margin-right: 0;
    margin-left: 0;
  }
  .c-options .option:last-child {
    margin-right: 0;
    margin-left: 0;
  }
  .c-options .option:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }
  .c-options .option:nth-child(3) {
    margin-right: 0;
    margin-left: 0;
  }
  .c-options .option {
    width: 100%;
    margin-bottom: 12px;
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
  color: var(--dark-blue);
}

.invisible {
  display: none;
}
