.c-c-hero-ov-3 {
  padding-bottom: 0px;
}
.logo-loader {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.logo {
  width: 50px;
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.departements {
  font-size: 24px;
  line-height: 61px;
  font-weight: bold;
  margin-left: 80px;
}

.dep{
  padding-right: 6vw;
}

.c-c-hero-ov-3{
 height: 0%;
}

@media only screen and (max-width: 772px) {
  .dep{
    padding-right: 0vw;
  }

  .departements {
    font-size: 20px;
    line-height: 61px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin: 0vw 3vw;
  }
}

.c-jekers {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
}

.jekers {
  margin: 0.5vh;
  width: calc((100vw - 96px) / 4);
  height: calc((100vw - 96px) / 4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jekerTextINNOVATION {
  display: flex;
  flex-direction: column;
}

.jekers:hover .jekerTextINNOVATION {
  opacity:1;
}

.jekers:hover .jekerTextINTERN {
  opacity:1;
}

.jekers:hover .jekerTextALL {
  opacity:1;
}

.jekers:hover .jekerTextTECH {
  opacity:1;
}

.jekerTextALL {
  background: var(--light-blue);
  color: white !important;
  opacity:0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.jekerTextINNOVATION{
  background: rgb(227, 113, 59);
  color: white !important;
  opacity:0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.jekerTextTECH{
  background:rgb(81, 164, 80);
  color: white !important;
  opacity:0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.jekerTextINTERN  {
  background:rgb(171, 51, 74);
  color: white !important;
  opacity:0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.s-title.is-3, .subtitle.is-3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1155px) {
  .s-title.is-3, .subtitle.is-3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .jekers {
    width: calc((100vw - 96px) / 3);
    height: calc((100vw - 96px) / 3);
  }
  .c-jekers {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 475px) {
  .jekers {
    width: calc((100vw - 50px) / 3);
    height: calc((100vw - 50px) / 3);
  }

  .c-jekers {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 550px) {
  .departements{
    font-size: 16px;
  }
}

@media screen and (max-width: 912px) {
  .s-title.is-3 {
    font-size: 0.7rem;
  }

  .subtitle.is-3 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 598px) {
  .s-title.is-3 {
    font-size: 0.6rem;
  }

  .subtitle.is-3 {
    font-size: 0.6rem;
  }
}
