<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jeKnowledge</title>
    <link rel="stylesheet" href="../../css/master.css">
    <link rel="stylesheet" href="../../css/bulma/bulma.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/hello.css">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <aside class="navbar">
      <section class="c-section">
        <nav>
          <h1 class="b-title">Home</h1>
          <br>
          <h1 class="b-title">Portfolio</h1>
          <br>
          <h1 class="b-title">Team</h1>
          <br>
          <h1 class="b-title">Medium</h1>
        </nav>
        <div class="navbar-desc">

        </div>
        <div class="navbar-footer">
          <img src="../../images/logo-text-white.svg" alt="White Logo jeK">
          <div class="text s-text">
            <a href="../hello/">Get in touch!</a>
            <br>
            geral@jeknowledge.com
            <br>
            +351 919 794 638
            <br>
            This website is
            <br>
            © jeKnowledge 2018.
          </div>
        </div>
      </section>
    </aside>
    <section class="c-navigation">
      <div class="c-c-hero-ov-3">
        <div class="c-hero-ov-3 safari"></div>
      </div>
      <div class="c-hero-ov-action still safari">
        <p class="b-title" id="action-text"> </p>
      </div>
    </section>
    <img src="/images/logo-text-blue.svg" alt="White Logo jeK" class="hello-footer-img">
    <section class="c-section c-c-hello active" id="hello-1">
      <div class="c-hello c-left">
        <h1 class="title b-title">Hello!</h1>
        <h2 class="subtitle b-title">The answer is yes, we'd love to hear from you.</h2>
      </div>
      <div class="c-hello c-middle">
        <p class="is-size-4 b-text">Let us get to know you a little better before we get going...</p>
        <br>
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Name" id="hello-name">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Email" id="hello-email">
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-info" id="hello-button-1">
              Let's go!
            </button>
          </p>
        </div>
      </div>
    </section>
    <section class="c-section c-c-hello" id="hello-2">
      <div class="c-hello c-left">
        <h1 class="title b-title" id="user-name">Hm...</h1>
        <h2 class="subtitle b-title">Haven't we met before?</h2>
      </div>
      <div class="c-hello c-middle">
        <p class="is-size-4 b-text">What sort of project can we help you with?</p>
        <br>
        <div class="c-options">
          <div class="option tech b-title">
            Tech, Web & Apps
          </div>
          <div class="option design b-title">
            Design or Branding
          </div>
          <div class="option marketing b-title">
            Marketing or Events
          </div>
          <div class="option other b-title-i">
            Something else...
          </div>
        </div>
        <br>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-info" id="hello-button-2">
              Next
            </button>
          </p>
        </div>
      </div>
    </section>
    <section class="c-section c-c-hello" id="hello-3">
      <div class="c-hello c-left">
        <h1 class="title b-title">See ya!</h1>
        <h2 class="subtitle b-title">We'll get back ASAP.</h2>
      </div>
      <div class="c-hello c-middle">
        <p class="is-size-3 b-title" style="text-align:center;">That’s all! We’ll get in touch as soon as possible to arrange our meeting. Our team can’t wait to start working with you.</p>
        <br>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-info" id="hello-button-3">
              Nice!
            </button>
          </p>
        </div>
      </div>
    </section>
    <section class="c-section c-c-hello" id="hello-4">
      <div class="c-hello c-left">
        <h1 class="title b-title">All done!</h1>
        <h2 class="subtitle b-title">Looking forward to our conversation.</h2>
      </div>
      <div class="c-hello c-middle">
        <p class="is-size-3 b-title" style="text-align:center;">Expect an email fro m us in your inbox really really soon 💙</p>
        <br>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-info" id="hello-button-4" href="/">
              Take me home!
            </a>
          </p>
        </div>
      </div>
    </section>
    <script src="../../js/hello.js"></script>
    <script src="../../js/global-script.js"></script>
    <script src="../../js/article-script.js"></script>
  </body>
</html>
