<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jeKnowledge</title>
    <link rel="stylesheet" href="../../css/master.css">
    <link rel="stylesheet" href="../../css/bulma/bulma.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/project.css">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">

    <meta name="description" content="We are FCTUC's Junior Enterprise, from Coimbra, Portugal. We make sure your website, app or event is on point & on time, every single time!">

    <meta property="og:title" content="jeKnowledge">
    <meta property="og:description" content="We are FCTUC's Junior Enterprise, from Coimbra, Portugal. We make sure your website, app or event is on point & on time, every single time!">
    <meta property="og:image" content="https://i.imgur.com/Un7gZSV.png">
    <meta property="og:url" content="http://jeknowledge.pt/">

    <meta name="twitter:title" content="jeKnowledge">
    <meta name="twitter:description" content="We are FCTUC's Junior Enterprise, from Coimbra, Portugal. We make sure your website, app or event is on point & on time, every single time!">
    <meta name="twitter:image" content="https://i.imgur.com/Un7gZSV.png">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="Keywords" content="jeknowledge, junior enterprise, júnior empresa, junior, empresa junior, junior empresário, design, it, data science, coimbra, portugal, empresa, empresa it, consultoria digital, website, event, evento, site, movimento junior, júnior, jade portugal, jade">
  </head>
  <body>
    <aside class="navbar">
      <section class="c-section">
        <nav>
          <h1 class="b-title">Home</h1>
          <br>
          <h1 class="b-title">Portfolio</h1>
          <br>
          <h1 class="b-title">Recruit</h1>
          <br>
          <h1 class="b-title">Medium</h1>
          <br>
          <h1 class="b-title">Team</h1>
        </nav>
        <div class="navbar-desc">

        </div>
        <div class="navbar-footer">
          <img src="../../images/logo-text-white.svg" alt="White Logo jeK">
          <div class="text s-text">
            <a href="../hello/">Get in touch!</a>
            <br>
            geral@jeknowledge.com
            <br>
            +351 926 590 223
            <br>
            This website is
            <br>
            © jeKnowledge 2021.
          </div>
        </div>
      </section>
    </aside>
    <section class="c-navigation">
      <div class="c-c-hero-ov-3">
        <div class="c-hero-ov-3"></div>
        <div class="c-hero-ov-4 b-title">
          <p class="b-title">Menu</p>
        </div>
      </div>
      <div class="c-hero-ov-action still">
        <p class="b-title" id="action-text"> </p>
      </div>
    </section>
    <header class="c-head-project c-section small">
      <h3 class="b-title is-size-6" id="author"> </h3>
      <h4 class="b-text is-size-6" id="position"> </h4>
      <h1 class="title is-2 b-title title" id="title"> </h1>
      <h2 class="subtitle is-3 b-text" id="short-desc"> </h2>
      <h4 class="b-text is-size-6" id="date"> </h4>
    </header>
    <section class="c-project-hero" id="project-image"></section>
    <section class="c-section small project-content" id="text">

    </section>
    <footer>
      <div class="footer-address">
        <div className="footer-middle">
          <a href="https://www.facebook.com/jeknowledge" target="_blank"> <img class="social" src="images/facebook.svg" alt="facebook"/></a>
          <a href="https://www.instagram.com/jeknowledge/" target="_blank"> <img class="social" src="images/instagram.svg" alt="instagram" /></a>
          <a href="https://www.linkedin.com/company/jeknowledge/" target="_blank"> <img class="socialLinked" src="images/linkedin.svg" alt="linkedin" /></a>
       </div>
        <div class="text s-text">
          jeKnowledge Associação
          <br>
          Rua Larga
          <br>
          Departamento de Física, B3
          <br>
          P-3004-516 Coimbra
        </div>
      </div>
      <div class="footer-middle">
          <p class="b-title title is-2" id="footerTitle">Like what you see?</p>
          <p class="subtitle s-text is-white is-4" id="footerSubtitle">Click this button.</p>
          <a class="button is-info" id="footerButton" href="../hello/">
            Click Me!
          </a>
      </div>
      <div class="footer-contacts">
        <img src="../../images/logo-text-white.svg" alt="White Logo jeK">
        <div class="text s-text">
          geral@jeknowledge.com
          <br>
          +351 919 818 111
          <br>
          This website is
          <br>
          © jeKnowledge 2018.
        </div>
      </div>
    </footer>
    <script src="../../js/global-script.js"></script>
    <script src="../../js/article-script.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>
    <script src="../../js/portfolio-project.js"></script>
    <script src="../../js/portfolio-content.js"></script>
  </body>
</html>
