.logo1 {
  background-image: url("../logos/icon/svg/icon.svg");
}
.logo2 {
  background-image: url("../logos/icon/svg/icon-inv.svg");
}
.logo3 {
  background-image: url("../logos/icon/svg/icon-black.svg");
}
.logo4 {
  background-image: url("../logos/icon/svg/icon-black-inv.svg");
}
.logo5 {
  background-image: url("../logos/icon/svg/icon-green.svg");
}
.logo6 {
  background-image: url("../logos/icon/svg/icon-green-inv.svg");
}
.logo7 {
  background-image: url("../logos/icon/svg/icon-orange.svg");
}
.logo8 {
  background-image: url("../logos/icon/svg/icon-orange-inv.svg");
}
.logo9 {
  background-image: url("../logos/icon/svg/icon-pink.svg");
}
.logo10 {
  background-image: url("../logos/icon/svg/icon-pink-inv.svg");
}


.logo11 {
  background-image: url("../logos/icon/png/icon.png");
}
.logo12 {
  background-image: url("../logos/icon/png/icon-inv.png");
}
.logo13 {
  background-image: url("../logos/icon/png/icon-black.png");
}
.logo14 {
  background-image: url("../logos/icon/png/icon-black-inv.png");
}
.logo15 {
  background-image: url("../logos/icon/png/icon-green.png");
}
.logo16 {
  background-image: url("../logos/icon/png/icon-green-inv.png");
}
.logo17 {
  background-image: url("../logos/icon/png/icon-orange.png");
}
.logo18 {
  background-image: url("../logos/icon/png/icon-orange-inv.png");
}
.logo19 {
  background-image: url("../logos/icon/png/icon-pink.png");
}
.logo20 {
  background-image: url("../logos/icon/png/icon-pink-inv.png");
}






.icon1 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc.svg");
}
.icon2 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-inv.svg");
}
.icon3 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-black.svg");
}
.icon4 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-black-inv.svg");
}
.icon5 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-green.svg");
}
.icon6 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-green-inv.svg");
}
.icon7 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-orange.svg");
}
.icon8 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-orange-inv.svg");
}
.icon9 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-pink.svg");
}
.icon10 {
  background-image: url("../logos/icon-title-desc/svg/icon-title-desc-pink-inv.svg");
}

.icon11 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc.png");
}
.icon12 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-inv.png");
}
.icon13 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-black.png");
}
.icon14 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-black-inv.png");
}
.icon15 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-green.png");
}
.icon16 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-green-inv.png");
}
.icon17 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-orange.png");
}
.icon18 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-orange-inv.png");
}
.icon19 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-pink.png");
}
.icon20 {
  background-image: url("../logos/icon-title-desc/png/icon-title-desc-pink-inv.png");
}






.title1 {
  background-image: url("../logos/title/svg/title.svg");
}
.title2 {
  background-image: url("../logos/title/svg/title-white.svg");
}
.title3 {
  background-image: url("../logos/title/svg/title-black.svg");
}
.title4 {
  background-image: url("../logos/title/svg/title-green.svg");
}
.title5 {
  background-image: url("../logos/title/svg/title-orange.svg");
}
.title6 {
  background-image: url("../logos/title/svg/title-pink.svg");
}

.title7 {
  background-image: url("../logos/title/png/title.png");
}
.title8 {
  background-image: url("../logos/title/png/title-white.png");
}
.title9 {
  background-image: url("../logos/title/png/title-black.png");
}
.title10 {
  background-image: url("../logos/title/png/title-green.png");
}
.title11 {
  background-image: url("../logos/title/png/title-orange.png");
}
.title12 {
  background-image: url("../logos/title/png/title-pink.png");
}





.title-desc1 {
  background-image: url("../logos/title-desc/svg/title-desc.svg");
}
.title-desc2 {
  background-image: url("../logos/title-desc/svg/title-desc-white.svg");
}
.title-desc3 {
  background-image: url("../logos/title-desc/svg/title-desc-black.svg");
}
.title-desc4 {
  background-image: url("../logos/title-desc/svg/title-desc-green.svg");
}
.title-desc5 {
  background-image: url("../logos/title-desc/svg/title-desc-orange.svg");
}
.title-desc6 {
  background-image: url("../logos/title-desc/svg/title-desc-pink.svg");
}

.title-desc7 {
  background-image: url("../logos/title-desc/png/title-desc.png");
}
.title-desc8 {
  background-image: url("../logos/title-desc/png/title-desc-white.png");
}
.title-desc9 {
  background-image: url("../logos/title-desc/png/title-desc-black.png");
}
.title-desc10 {
  background-image: url("../logos/title-desc/png/title-desc-green.png");
}
.title-desc11 {
  background-image: url("../logos/title-desc/png/title-desc-orange.png");
}
.title-desc12 {
  background-image: url("../logos/title-desc/png/title-desc-pink.png");
}
