<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jeK Branding</title>
    <link rel="stylesheet" href="../bulma-0.6.0/css/bulma.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/img.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="../resources/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../resources/images/favicon.ico" type="image/x-icon">

    <script type="text/javascript">
      function copy1() {
        var copyText = document.getElementById("input1");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the color: " + copyText.value);
      }
      function copy2() {
        var copyText = document.getElementById("input2");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the color: " + copyText.value);
      }
      function copy3() {
        var copyText = document.getElementById("input3");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the color: " + copyText.value);
      }
      function copy4() {
        var copyText = document.getElementById("input4");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the color: " + copyText.value);
      }
      function copy5() {
        var copyText = document.getElementById("input5");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the color: " + copyText.value);
      }
      function copy6() {
        var copyText = document.getElementById("input6");
        copyText.select();
        document.execCommand("Copy");
        alert("Copied the color: " + copyText.value);
      }
    </script>

  </head>
  <body>
    <nav class="navbar is-dark nav-mobile" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://www.jeknowledge.pt">
          <img src="../resources/logos/icon/svg/icon-black-inv.svg" alt="">
        </a>
      </div>
    </nav>

    <div class="section-menu-content">
      <div class="nav-desktop">
        <aside class="menu">
          <p class="menu-label">
            jek Resources
          </p>
          <ul class="menu-list">
            <li><a href="../index.html">Wut?</a></li>
          </ul>
          <p class="menu-label">
            Graphic Elements
          </p>
          <ul class="menu-list">
            <li><a href="icons.html">Icons</a></li>
            <li><a href="icons-title-desc.html">Icons, Title, Desc.</a></li>
            <li><a href="title.html">Title</a></li>
            <li><a href="title-desc.html">Title, Desc.</a></li>
          </ul>
          <p class="menu-label">
            Other Elements
          </p>
          <ul class="menu-list">
            <li><a href="typography.html">Typography</a></li>
            <li><a class="is-active" href="colors.html">Colors</a></li>
            <li><a href="templates.html">Templates</a></li>
          </ul>
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a href="about.html">About</a></li>
          </ul>
        </aside>
      </div>

      <div class="content-right-section">
        <nav class="navbar is-dark nav-desktop" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://www.jeknowledge.pt">
              <img src="../resources/logos/icon/svg/icon-black-inv.svg" alt="">
            </a>
          </div>
        </nav>

        <div class="section section-right">
          <div>
            <h1 class="title is-1">Colors.</h1>
            <h2 class="subtitle is-3">COLORS 😳🌈</h2>
          </div>
        </div>


        <div class="download section" style="margin-top: -40px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">Wow...</h1>
              <p class="subtitle is-6">Colors are beautiful! jeK's amazing! jeK's color are beautiful. <br>jeK + color = amazingly beautiful stuff.</p>
            </div>
            <br>

            <div class="download-container">

              <div class="download-each download-rect">
                <div class="download-image color-blue">
                  <input class="color-field" type="text" value="#1690C3" id="input1">
                </div>
                <a onclick="copy1()" class="download-text title is-6">
                  Copy
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image color-green">
                  <input class="color-field" type="text" value="#5ABA65" id="input2">
                </div>
                <a onclick="copy2()" class="download-text title is-6">
                  Copy
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image color-orange">
                  <input class="color-field" type="text" value="#D66C24" id="input3">
                </div>
                <a onclick="copy3()" class="download-text title is-6">
                  Copy
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image color-pink">
                  <input class="color-field" type="text" value="#ED4271" id="input4">
                </div>
                <a onclick="copy4()" class="download-text title is-6">
                  Copy
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image color-white">
                  <input class="color-field" type="text" value="#ffffff" id="input5">
                </div>
                <a onclick="copy5()" class="download-text title is-6">
                  Copy
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image color-black">
                  <input class="color-field" type="text" value="#333333" id="input6">
                </div>
                <a onclick="copy6()" class="download-text title is-6">
                  Copy
                </a>
              </div>


            </div>
          </div>
        </div>


        <div class="nav-mobile">
          <aside class="menu">
            <p class="menu-label">
              jek Resources
            </p>
            <ul class="menu-list">
              <li><a href="../index.html">Wut?</a></li>
            </ul>
            <p class="menu-label">
              Graphic Elements
            </p>
            <ul class="menu-list">
              <li><a href="icons.html">Icons</a></li>
              <li><a href="icons-title-desc.html">Icons, Title, Desc.</a></li>
              <li><a href="title.html">Title</a></li>
              <li><a href="title-desc.html">Title, Desc.</a></li>
            </ul>
            <p class="menu-label">
              Other Elements
            </p>
            <ul class="menu-list">
              <li><a href="typography.html">Typography</a></li>
              <li><a class="is-active" href="colors.html">Colors</a></li>
              <li><a href="templates.html">Templates</a></li>
            </ul>
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href="about.html">About</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </body>
</html>
