<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jeK Branding</title>
    <link rel="stylesheet" href="../bulma-0.6.0/css/bulma.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/img.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="../resources/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../resources/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar is-dark nav-mobile" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://www.jeknowledge.pt">
          <img src="../resources/logos/icon/svg/icon-black-inv.svg" alt="">
        </a>
      </div>
    </nav>

    <div class="section-menu-content">
      <div class="nav-desktop">
        <aside class="menu">
          <p class="menu-label">
            jek Resources
          </p>
          <ul class="menu-list">
            <li><a href="../index.html">Wut?</a></li>
          </ul>
          <p class="menu-label">
            Graphic Elements
          </p>
          <ul class="menu-list">
            <li><a href="icons.html">Icons</a></li>
            <li><a href="icons-title-desc.html">Icons, Title, Desc.</a></li>
            <li><a href="title.html">Title</a></li>
            <li><a class="is-active" href="title-desc.html">Title, Desc.</a></li>
          </ul>
          <p class="menu-label">
            Other Elements
          </p>
          <ul class="menu-list">
            <li><a href="typography.html">Typography</a></li>
            <li><a href="colors.html">Colors</a></li>
            <li><a href="templates.html">Templates</a></li>
          </ul>
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a href="about.html">About</a></li>
          </ul>
        </aside>
      </div>

      <div class="content-right-section">
        <nav class="navbar is-dark nav-desktop" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://www.jeknowledge.pt">
              <img src="../resources/logos/icon/svg/icon-black-inv.svg" alt="">
            </a>
          </div>
        </nav>

        <div class="section section-right">
          <div>
            <h1 class="title is-1">Title and Slogan.</h1>
            <h2 class="subtitle is-3">We nurture your excellence 😏</h2>
          </div>
        </div>

        <div class="download section" style="margin-top: -40px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">.svg</h1>
              <p class="subtitle is-6">Vector formats. Perfect for web, perfect for print. Resize these at will.</p>
            </div>
            <br>

            <div class="download-container">

              <div class="download-each download-rect">
                <div class="download-image title-desc1"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/svg/title-desc.svg" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc2"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/svg/title-desc-white.svg" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc3"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/svg/title-desc-black.svg" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc4"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/svg/title-desc-green.svg" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc5"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/svg/title-desc-orange.svg" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc6"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/svg/title-desc-pink.svg" download>
                  Download
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="download section" style="margin-top: -60px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">.png</h1>
              <p class="subtitle is-6">Transparent, tiny... Have you considered .svg? You can't resize these (too much)!</p>
            </div>
            <br>
            <div class="download-container">

              <div class="download-each download-rect">
                <div class="download-image title-desc7"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/png/title-desc.png" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title8"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/png/title-desc-white.png" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc9"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/png/title-desc-black.png" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc10"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/png/title-desc-green.png" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc11"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/png/title-desc-orange.png" download>
                  Download
                </a>
              </div>
              <div class="download-each download-rect">
                <div class="download-image title-desc12"></div>
                <a class="download-text title is-6" href="../resources/logos/title-desc/png/title-desc-pink.png" download>
                  Download
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="nav-mobile">
          <aside class="menu">
            <p class="menu-label">
              jek Resources
            </p>
            <ul class="menu-list">
              <li><a href="../index.html">Wut?</a></li>
            </ul>
            <p class="menu-label">
              Graphic Elements
            </p>
            <ul class="menu-list">
              <li><a href="icons.html">Icons</a></li>
              <li><a href="icons-title-desc.html">Icons, Title, Desc.</a></li>
              <li><a href="title.html">Title</a></li>
              <li><a class="is-active" href="title-desc.html">Title, Desc.</a></li>
            </ul>
            <p class="menu-label">
              Other Elements
            </p>
            <ul class="menu-list">
              <li><a href="typography.html">Typography</a></li>
              <li><a href="colors.html">Colors</a></li>
              <li><a href="templates.html">Templates</a></li>
            </ul>
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href="about.html">About</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </body>
</html>
