<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jeK Branding</title>
    <link rel="stylesheet" href="../bulma-0.6.0/css/bulma.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/img.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="../resources/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../resources/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar is-dark nav-mobile" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://www.jeknowledge.pt">
          <img src="../resources/logos/icon/svg/icon-black-inv.svg" alt="">
        </a>
      </div>
    </nav>

    <div class="section-menu-content">
      <div class="nav-desktop">
        <aside class="menu">
          <p class="menu-label">
            jek Resources
          </p>
          <ul class="menu-list">
            <li><a href="../index.html">Wut?</a></li>
          </ul>
          <p class="menu-label">
            Graphic Elements
          </p>
          <ul class="menu-list">
            <li><a href="icons.html">Icons</a></li>
            <li><a href="icons-title-desc.html">Icons, Title, Desc.</a></li>
            <li><a href="title.html">Title</a></li>
            <li><a href="title-desc.html">Title, Desc.</a></li>
          </ul>
          <p class="menu-label">
            Other Elements
          </p>
          <ul class="menu-list">
            <li><a class="is-active" href="typography.html">Typography</a></li>
            <li><a href="colors.html">Colors</a></li>
            <li><a href="templates.html">Templates</a></li>
          </ul>
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a href="about.html">About</a></li>
          </ul>
        </aside>
      </div>

      <div class="content-right-section">
        <nav class="navbar is-dark nav-desktop" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://www.jeknowledge.pt">
              <img src="../resources/logos/icon/svg/icon-black-inv.svg" alt="">
            </a>
          </div>
        </nav>

        <div class="section section-right">
          <div>
            <h1 class="title is-1">Typography.</h1>
            <h2 class="subtitle is-3">Words, letters, sentences... It's amazing what a good font can do.</h2>
          </div>
        </div>


        <div class="download section" style="margin-top: -20px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">Google Fonts</h1>
              <p class="subtitle is-6" style="margin-bottom:10px;">
                This is awesome. You need a good font, they have a good font.
                You need two, they have two. Three? Guess. Also, integration of
                these with your website is as easy as 1, 2, 3.
              </p>
              <p class="subtitle is-6">
                "We believe the best way to bring personality and performance
                to websites and products is through great design and technology.
                Our goal is to make that process simple, by offering an intuitive
                and robust directory of open source designer web fonts."
              </p>
              <p class="subtitle is-6">
                Used <strong>everywhere.</strong>
              </p>
            </div>
            <br>

            <div class="download-container" style="justify-content: flex-start;">

              <div class="download-each download-single">
                <div class="download-image google"></div>
                <a class="download-text title is-6" href="https://fonts.google.com/" target="_blank">
                  Go
                </a>
              </div>

            </div>
          </div>
        </div>


        <div class="avoid" style="margin-top: 40px;">
          <h3 class="has-text-white title is-6">Avoid using the fonts below...</h3>
        </div>

        <div class="download section" style="margin-top: -20px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">Kievit</h1>
              <p class="subtitle is-6" style="margin-bottom:10px;">
                Although I'm pretty sure we've been using this font without a
                license, it's still a really nice one.
              </p>
              <p class="subtitle is-6">
                "Mike Abbink began initial work for FF Kievit in 1995, as part
                of a digital-font school project. The concept was finished
                several years later for a corporate client of Method Inc., a
                design firm in San Francisco and officially launched by FontFont
                in 2001." <a href="http://www.ffkievit.com/">www.ffkievit.com</a>
              </p>
              <p class="subtitle is-6">
                Used on <strong>jeK's logo.</strong>
              </p>
            </div>
            <br>

            <div class="download-container" style="justify-content: flex-start;">

              <div class="download-each download-single">
                <div class="download-image kievit"></div>
                <a class="download-text title is-6" href="../resources/fonts/kievit/KievitOT-Light.otf" download>
                  Download
                </a>
              </div>

            </div>
          </div>
        </div>


        <div class="download section" style="margin-top: -40px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">Segoe Script</h1>
              <p class="subtitle is-6" style="margin-bottom:10px;">
                Yet another one.... Guys, let's please review the fonts' licenses 😅
              </p>
              <p class="subtitle is-6">
                "Segoe Script is part of the Segoe family of fonts from Microsoft.
                The Segoe Script (2 fonts) contains stylish handwriting script
                fonts. The letterforms in Segoe Script feature extended strokes
                established in cursive handwriting."
                <a href="https://www.myfonts.com/fonts/ascender/segoe-script/">www.myfonts.com</a>
              </p>
              <p class="subtitle is-6">
                Used on <strong>jeK's arrows.</strong>
              </p>
            </div>
            <br>

            <div class="download-container" style="justify-content: flex-start;">

              <div class="download-each download-single">
                <div class="download-image segoe"></div>
                <a class="download-text title is-6" href="../resources/fonts/segoe/segoe-script.zip" download>
                  Download
                </a>
              </div>

            </div>
          </div>
        </div>


        <div class="download section" style="margin-top: -40px;">
          <div class="download-section section">
            <div class="download-section-text">
              <h3 class="title is-4" style="margin-bottom:40px;">Helvetica Neue</h1>
              <p class="subtitle is-6" style="margin-bottom:10px;">
                C*ralho, another one.
              </p>
              <p class="subtitle is-6">
                "The original design, drawn by Max Miedinger, was released by
                the Haas Type Foundry of Switzerland, then by Germany-based
                Stempel (the parent company of Haas) and finally by Mergenthaler
                Linotype. In 1983, Stempel released Neue Helvetica, a re-working
                of the design."
                <a href="https://www.fonts.com/font/linotype/neue-helvetica/story">www.fonts.com</a>
              </p>
              <p class="subtitle is-6">
                Used on <strong>jeK's text.</strong>
              </p>
            </div>
            <br>

            <div class="download-container" style="justify-content: flex-start;">

              <div class="download-each download-single">
                <div class="download-image helvetica"></div>
                <a class="download-text title is-6" href="../resources/fonts/helvetica/helvetica-neue.zip" download>
                  Download
                </a>
              </div>

            </div>
          </div>
        </div>


        <div class="nav-mobile">
          <aside class="menu">
            <p class="menu-label">
              jek Resources
            </p>
            <ul class="menu-list">
              <li><a href="../index.html">Wut?</a></li>
            </ul>
            <p class="menu-label">
              Graphic Elements
            </p>
            <ul class="menu-list">
              <li><a href="icons.html">Icons</a></li>
              <li><a href="icons-title-desc.html">Icons, Title, Desc.</a></li>
              <li><a href="title.html">Title</a></li>
              <li><a href="title-desc.html">Title, Desc.</a></li>
            </ul>
            <p class="menu-label">
              Other Elements
            </p>
            <ul class="menu-list">
              <li><a class="is-active" href="typography.html">Typography</a></li>
              <li><a href="colors.html">Colors</a></li>
              <li><a href="templates.html">Templates</a></li>
            </ul>
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href="about.html">About</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </body>
</html>
