<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>jeKnowledge</title>
    <link rel="stylesheet" href="../../css/master.css" />
    <link rel="stylesheet" href="../../css/bulma/bulma.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/portfolio.css" />
    <link
      rel="shortcut icon"
      href="../../images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />

    <meta
      name="description"
      content="We are FCTUC's Junior Enterprise, from Coimbra, Portugal. We make sure your website, app or event is on point & on time, every single time!"
    />

    <meta property="og:title" content="jeKnowledge" />
    <meta
      property="og:description"
      content="We are FCTUC's Junior Enterprise, from Coimbra, Portugal. We make sure your website, app or event is on point & on time, every single time!"
    />
    <meta property="og:image" content="https://i.imgur.com/Un7gZSV.png" />
    <meta property="og:url" content="http://jeknowledge.pt/" />

    <meta name="twitter:title" content="jeKnowledge" />
    <meta
      name="twitter:description"
      content="We are FCTUC's Junior Enterprise, from Coimbra, Portugal. We make sure your website, app or event is on point & on time, every single time!"
    />
    <meta name="twitter:image" content="https://i.imgur.com/Un7gZSV.png" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta
      name="Keywords"
      content="jeknowledge, junior enterprise, júnior empresa, junior, empresa junior, junior empresário, design, it, data science, coimbra, portugal, empresa, empresa it, consultoria digital, website, event, evento, site, movimento junior, júnior, jade portugal, jade"
    />
  </head>
  <body>
    <aside class="navbar">
      <section class="c-section">
        <nav>
          <h1 class="b-title">Home</h1>
          <br />
          <h1 class="b-title">Our Work</h1>
          <br />
          <h1 class="b-title">Recruit</h1>
          <br />
          <h1 class="b-title">Medium</h1>
          <br />
          <h1 class="b-title">Team</h1>
        </nav>
        <div class="navbar-desc"></div>
        <div class="navbar-footer">
          <img src="../../images/logo-text-white.svg" alt="White Logo jeK" />
          <div class="text s-text">
            <a href="../hello/">Get in touch!</a>
            <br />
            geral@jeknowledge.com
            <br />
            +351 931 874 992
            <br />
            This website is
            <br />
            © jeKnowledge 2022.
          </div>
        </div>
      </section>
    </aside>
    <section class="c-navigation">
      <div class="c-c-hero-ov-3">
        <div class="c-hero-ov-3"></div>
        <div class="c-hero-ov-4 b-title">
          <p class="b-title">Menu</p>
        </div>
      </div>
      <div class="c-hero-ov-action still">
        <p class="b-title" id="action-text"></p>
      </div>
    </section>
    <section class="c-section top-section">
      <h1 class="b-title title">Portfolio</h1>
      <h2 class="b-title subtitle is-2" id="jeKerSubtitle">
        The coolest projects are right below.
      </h2>
      <div class="content">
        <p class="b-text is-large">
          A collection of the best of jeK's work, curated by the team over the
          years.
          <br />
          <br />
          We do Web Design, Graphic Design, Video/Photography, Development, Big
          Data Analysis, Event Organizing and Digital & Tech Consulting.
        </p>
      </div>
    </section>
    <section class="c-section c-portfolio" id="c-portfolio"></section>
    <footer>
      <div class="footer-address">
        <div className="footer-middle">
          <a href="https://www.facebook.com/jeknowledge" target="_blank">
            <img class="social" src="/images/facebook.svg" alt="facebook"
          /></a>
          <a href="https://www.instagram.com/jeknowledge/" target="_blank">
            <img class="social" src="/images/instagram.svg" alt="instagram"
          /></a>
          <a
            href="https://www.linkedin.com/company/jeknowledge/"
            target="_blank"
          >
            <img class="socialLinked" src="/images/linkedin.svg" alt="linkedin"
          /></a>
        </div>
        <div class="text s-text">
          jeKnowledge Associação
          <br />
          Rua Larga
          <br />
          Departamento de Física, B3
          <br />
          P-3004-516 Coimbra
        </div>
      </div>
      <div class="footer-middle">
        <p class="b-title title is-2" id="footerTitle">Like what you see?</p>
        <p class="subtitle s-text is-white is-4" id="footerSubtitle">
          Click this button.
        </p>
        <a class="button is-info" id="footerButton" href="../hello/">
          Click Me!
        </a>
      </div>
      <div class="footer-contacts">
        <img src="../../images/logo-text-white.svg" alt="White Logo jeK" />
        <div class="text s-text">
          geral@jeknowledge.com
          <br />
          +351 931 874 992
          <br />
          This website is
          <br />
          © jeKnowledge 2022.
        </div>
      </div>
    </footer>
    <script src="../../js/global-script.js"></script>
    <script src="../../js/article-script.js"></script>
    <script src="../../js/portfolio-content.js"></script>
    <script src="../../js/portfolio-all.js"></script>
  </body>
</html>
